[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
anchor_escrow = "FircrADQ2wgGuvpm8qneNCfKM7o5zoHTWnDQxngpTQ3J"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
# "-- --nocapture" allows print statements to show in terminal
# The fisrt "--" separates cargo args from test args
test = "npx ts-mocha -p tsconfig.json -t 1000000 tests/schedule-refund.ts" 
