[toolchain]
anchor_version = "0.31.1"
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
gpt_tuktuk = "3LWmo92AxMjU5tLjfneoqCYVMQSoA6teNeYhSiQojpSG"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""

[test]
startup_wait = 20000

[test.validator]
url = "https://api.devnet.solana.com"

[[test.validator.clone]]
address = "LLMrieZMpbJFwN52WgmBNMxYojrpRVYXdC1RCweEbab"

[[test.validator.clone]]
address = "tuktukUrfhXT6ZT77QTU8RQtvgL967uRuVagWF57zVA"
